# Python
__pycache__/
*.py[cod]
*.sqlite3

# 環境設定
.env
*.env
local_settings.py

# Conda仮想環境（プロジェクト内に作成した場合）
env/
envs/
.conda/

# 仮想環境
venv/

#その他
# Jupyter Notebookのチェックポイント
.ipynb_checkpoints/

# VSCodeやPyCharmなどのIDE設定
.vscode/
.idea/
*.code-workspace
